@import "yelp_directory";
/* endbower */

body {
  padding: 0;
}

ul, li {
  list-style-type: none;
}

.border-bottom {
  border-bottom: 1px solid HSLA(221, 61%, 34%, .5);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.small-text {
  font-size: 12px;
}

h4 {
  font-size: 14px;
}

.red {
  color: red;
  font-weight: bold;
}

.category {
  font-size: 10px;
  color: HSLA(199, 68%, 52%, 1);
}

/* Animate Population of Feed =============================== */
.reveal-animation.ng-enter {
  -webkit-animation: enter_sequence 1s linear; /* Safari/Chrome */
  animation: enter_sequence 1s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}