@import "yelp_directory";
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* endbower */

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body {
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

ul, li {
  list-style-type: none;
}

button {
    outline: none;
}

/*
=================================== Dashboard Styling
*/
[data-magellan-expedition], [data-magellan-expedition-clone] {
  padding: 0;
  background-color: HSLA(0, 0%, 0%, 0);
  position: fixed;
  height: 100%;
  min-width: 148px;
}
h2 {
  padding-bottom: 1rem;
}

.item {
  z-index: 9999;
}

.right-arrows {
  line-height: 3rem;
}

.card-count {
  color: HSLA(0, 0%, 90%, 1);
  text-align: center;
  font-size: 3rem;
}

.quick-info {
  position: relative;
  // margin-left: 1rem;
  display: inline-block;
  padding: .8rem 2rem .8rem 0;
}
.icon {
  color: black;
  margin: 0;
}

/*
=================================== Detailed View
*/

.catch-float {
  overflow: auto;
}

/*
=================================== ViewPort
*/
.viewport {
  position: relative;
  left: 148px;
}

.daily-report {
  padding: 0;
  margin: 0;
  background-color: HSLA(213, 20%, 36%, 1);
  color: HSLA(0, 0%, 90%, 1);
  li {
    padding: 0;
    margin: 0 1rem 0 0;
  }
}

.second-nav {
  position: fixed;
  z-index: 500;
  margin: 0;
  padding: 0;
}

.search-button, .calendar, .info {
  margin: 0;
}

#date-picker {
  margin: 0;
  box-shadow: none;
  height: 100%;
  padding: 16px 4rem 17px 1rem;
}

.data-view {
  position: relative;
  top: 70px;
}

.info-table {
  background-color: HSLA(0, 0%, 100%, 1);
  margin: 0;
  clear: both;
  border-radius: 2px;
}

.page-list-item {
  border-bottom: 1px solid HSLA(0, 0%, 90%, 1);
  td {
    font-size: 12px;
  }
}

.topics-text {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

/*
=================================== Search Page Styling
*/

.search-page {
  padding-top: 5rem;
}

.author-group, .topic-group {
  padding: 15px;
  border-bottom: 1px solid HSLA(0, 0%, 90%, 1);
  &:last-child {
    border: none;
  }
}

.column-labels {
  font-size: 12px;
  padding-top: 15px;
}

.border-bottom {
  border-bottom: 1px solid HSLA(221, 61%, 34%, .5);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.small-text {
  font-size: 12px;
  overflow: hidden;
}

h4 {
  font-size: 14px;
}

.author-byline {
  text-align: right;
  font-size: 14px;
  color: HSLA(237, 43%, 60%, 1);
}

.red {
  color: red;
  font-weight: bold;
}
.free {
  color: HSLA(146, 64%, 49%, 1);
}
.premium {
  color: HSLA(11, 91%, 41%, 1);
}

.category {
  font-size: 10px;
  color: HSLA(199, 68%, 52%, 1);
}

.pleft15 {
  padding-left: 15px;
  color: #6f6f6f;
}

/*
=================================== Footer
*/

.footer {
  padding-top: 15px;
  position: relative;
  top: 5rem;
}

/*
=================================== Animate Population of Feed
*/
.reveal-animation.ng-enter {
  -webkit-animation: enter_sequence 1s linear; /* Safari/Chrome */
  animation: enter_sequence 1s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

/*
=================================== Animate Dashboard Feed
*/

.page-list-item.ng-enter-stagger,
.page-list-item.ng-leave-stagger {
    -webkit-transition-delay: 0.01s;
    -moz-transition-delay: 0.01s;
    -ms-transition-delay: 0.01s;
    -o-transition-delay: 0.01s;
    transition-delay: 0.01s;

    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -ms-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0;
}

.page-list-item.ng-enter {
    -webkit-transition:0.01s linear all;
    -moz-transition:0.01s linear all;
    -ms-transition:0.01s linear all;
    -o-transition:0.01s linear all;
    transition:0.01s linear all;

    -ms-opacity: 0;
    opacity: 0;
}


.page-list-item.ng-enter.ng-enter-active {
    -ms-opacity: 1;
    opacity: 1;
}

.page-list-item.ng-leave {
    -webkit-transition:0.01s linear all;
    -moz-transition:0.01s linear all;
    -ms-transition:0.01s linear all;
    -o-transition:0.01s linear all;
    transition:0.01s linear all;

    -ms-opacity: 1;
    opacity: 1;
}

.page-list-item.ng-leave.ng-leave-active {
    -ms-opacity: 0;
    opacity: 0;
}