<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Compliance Application</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex">
    <meta name="robots" content="nofollow">
    <base href="/"></base>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-busy/dist/angular-busy.css" />
    <link rel="stylesheet" href="bower_components/angular-date-picker/angular-date-picker.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/foundation.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="complianceApp" ng-controller="ComplianceAppCtrl" ng-cloak>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
<!-- Left Vertical Side Bar ============================================================= -->
<!--       <nav data-magellan-expedition="fixed" ng-controller="ProviderModalCtrl" stop-event>
        <div class="icon-bar vertical five-up">
          <a class="item" ng-click="openModal(ajcStories)">
            <span>AJC Stories</span>
            <label class="card-count" ng-hide="ajcStories">0</label>
            <label class="card-count" ng-show="ajcStories">{{ ajcStories.length }}</label>
          </a>
          <a class="item" ng-click="openModal(photo_galleries)">
            <span>Photo Gallery</span>
            <label class="card-count" ng-hide="photo_galleries">0</label>
            <label class="card-count" ng-show="photo_galleries">{{ photo_galleries.length }}</label>
          </a>
          <a class="item" ng-click="openModal(wp_vip)">
            <span>WordPress VIP</span>
            <label class="card-count" ng-hide="wp_vip">0</label>
            <label class="card-count" ng-show="wp_vip">{{ wp_vip.length }}</label>
          </a>
          <a class="item" ng-click="openModal(publish_this)">
            <span>Publish This</span>
            <label class="card-count">-</label>
            <label class="card-count" ng-hide="publish_this">0</label>
            <label class="card-count" ng-show="publish_this">{{ publish_this.length }}</label>
          </a>
          <a class="item" ng-click="openModal(ap_stories)">
            <span>AP Stories</span>
            <label class="card-count" ng-hide="ap_stories">0</label>
            <label class="card-count" ng-show="ap_stories">{{ ap_stories.length }}</label>
          </a>
        </div>
      </nav> -->
<!-- ViewPort ============================================================================ -->
      <div class="viewport large-10">

        <section class="large-12 medium-12 small-12 second-nav"> <!-- pseudo nav bar  -->

          <ul class="daily-report inline-list">
            <li>
              <button class="search-button" ng-click="goToSearch()">
                <span>Search</span>
                <span class="entypo-search"></span>
              </button>
            </li>
            <li>
              <button class="info">Results Count: <span ng-hide="!resultsCount">{{ resultsCount }}</span><span ng-hide="resultsCount">0</span></button>
            </li>
            <li>
              <button class="info">Since: <span ng-hide="!timeSince">{{ timeSince | date: "h:mma" }}</span><span ng-hide="timeSince">--:--</span></button>
            </li>

          </ul>

        </section>

        <section ng-view></section>

      </div> <!-- end viewport  -->

    </div> <!-- end container  -->

    <div class="row footer">
      <p class="pleft15 text-right">With <span class="entypo-heart"></span> from Digital Audience</p>
    </div>

    <!--     <script src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("feeds", "1");</script>  -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/oauth-signature/dist/oauth-signature.js"></script>
    <script src="bower_components/jsonproxy/jsonp.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-busy/dist/angular-busy.js"></script>
    <script src="bower_components/angular-date-picker/angular-date-picker.js"></script>
    <script src="bower_components/excellentexport/excellentexport.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="scripts/highcharts.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("feeds", "1");</script>

      <!-- build:js({.tmp,app}) scripts/scripts.js -->
      <script src="scripts/app.js"></script>
      <script src="scripts/controllers/main.js"></script>
      <script src="scripts/controllers/compliance_app.js"></script>
      <script src="scripts/controllers/dashboard.js"></script>
      <script src="scripts/controllers/provider_modal.js"></script>
      <script src="scripts/controllers/details.js"></script>
      <script src="scripts/controllers/analysis.js"></script>
      <script src="scripts/directives/smooth_scroll_directive.js"></script>
      <script src="scripts/services/mapi_factory.js"></script>
      <script src="scripts/services/dashboard_factory.js"></script>
      <script src="scripts/services/details_factory.js"></script>
      <script src="scripts/services/analysis_factory.js"></script>
      <!-- endbuild -->
  </body>
</html>
