
	<div class="data-view"> <!-- Feed viewer -->
		<div class="panel">
			<h2 class="pleft15">Report By Date</h2>
		  <p class="pleft15">1. Click "Select Date" and pick a date.</p>
		  <p class="pleft15">2. Click "Get Selected Date" (only once!) and wait for data to load.</p>
		  <p class="pleft15">3. Click "Export to Excel" to download results in an excel file. (must use Chrome)</p>
			<ul class="inline-list">
		    <li>
			    <input id="date-picker" type="text" pick-a-date="date" placeholder="Select Date" pick-a-date-options="pickDateOptions"/>
			  </li>
			  <li class="right-arrows"><span class="entypo-right-thin"></span></li>
			  <li>
			    <button class="calendar" ng-class="{disabled: !date, success: date}" ng-click="getSelectedDate()">Get Selected Date</button>
			  </li>
			  <li class="right-arrows"><span class="entypo-right-thin"></span></li>
				<li><button ng-class="{disabled: !stories, success: stories}"><a ng-class="{disabled: !stories, success: stories}" download="export.xls" href="#" onclick="return ExcellentExport.excel(this, 'exportTable', 'Feed From Date');">Export to Excel</a></button></li>
<!-- 				<li><button ng-class="{disabled: !stories, success: stories}" ng-click="analyzeData()">Analyze Results</button></li> -->
		  </ul>
		 </div>

		<table class="large-12 info-table" id="exportTable">
			<thead>
		  	<th scope="column"></th>
		    <th scope="column">Provider</th>
		    <th scope="column">Modified</th>
		    <th scope="column">Headline</th>
		    <th scope="column">Primary Category</th>
		    <th scope="column">Topics</th>
		    <th scope="column">Byline</th>
		    <th scope="column">URL</th>
		  </thead>
		  <ul class="inline-list panel text-center">
		  	<li class="panel callout">Access Atlanta<p class="red">{{displayBreakdown.ajc_breakdown.access.length}}</p></li>
		  	<li class="panel callout">AJC.com<p  class="red">{{displayBreakdown.ajc_breakdown.ajccom.length}}</p></li>
		  	<li class="panel callout">MyAJC<p  class="red">{{displayBreakdown.ajc_breakdown.myajc.length}}</p></li>
		  	<li class="panel callout">Shared Content<p  class="red">{{sharedCount}}</p></li>
		  	<li class="panel callout">Total minus Publish This<p  class="red">{{displayBreakdown.ajc_stories.length + displayBreakdown.ap_stories.length + displayBreakdown.wp_vip.length + sharedCount}}</p></li>
		  	<li class="panel callout">ATL Total (-PublishThis)<p  class="red">{{displayBreakdown.ajc_stories.length + displayBreakdown.ap_stories.length + displayBreakdown.wp_vip.length}}</p></li>
		  </ul>
		  						<!-- Loading Spinner  -->
			<div cg-busy="{promise:busy, message:'Loading Data, Please Wait'}"></div>
			<tbody>
			  <tr ng-repeat="s in stories track by $index | filter:searchResults" class="page-list-item">
			  	<td>{{ $index + 1 }}</td>
			  	<td>{{ s.provider.name }}</td>
			  	<td>{{ s.content_modified | date:"MM/dd/yyyy @ h:mma" }}</td>
			  	<td>{{ s.headline }}</td>
			  	<td>{{ s.primary_category }}</td>
			  	<td><span class="topics-text" ng-repeat="t in s.topics">{{ t }}, </span></td>
			  	<td>{{ s.by[0].name }}</td>
			  	<td><a href="{{ s.canonical_url }}" target="_blank">Link</a></td>
			  </tr>	
			</tbody>
		</table>

<!-- 		<button class="large-12 medium-12 small-12 load-more" ng-click="loadMore(pages[1].href)">Load More <span class="entypo-cw"></span></button> -->
	</div> <!-- end data view  -->

