	<div class="data-view">
		<!-- Date picker + Instructions -->
		<div class="panel">
			<h3 class="pleft15 bottom-border">Report By Date</h3>
			<ul class="inline-list">
				<li><p>1. Pick a date.</p><date-picker ng-model="date"></date-picker></li>
				<li class="large-5 middle-prompt"><p>2. Click "Get Selected Date" (only once!) and wait for data to load.</p><button class="calendar" ng-class="{disabled: !date, success: date}" ng-click="getSelectedDate()">Get Selected Date</button></li>
				<li class="large-3"><p>3. Click "Export to Excel" to download results in an excel file. (must use Chrome)</p><button ng-class="{disabled: !stories, success: stories}"><a ng-class="{disabled: !stories, success: stories}" download="export.xls" href="#" onclick="return ExcellentExport.excel(this, 'exportTable', 'Feed From Date');">Export to Excel</a></button></li>
			</ul>
		 </div>
		 <!-- Story counter  -->
	  <ul class="inline-list panel text-center counter-box">
	  	<li id="ajc-count"><span class="label">AJC Stories</span>
	  		<ul class="ajc-box inline-list">
		  		<li class="large-3"><span class="info label">AJC.com</span><p class="red">{{ displayBreakdown.ajc_breakdown.ajccom.length }}</p></li>
		  		<li class="large-3"><span class="info label">MyAJC</span><p class="red">{{ displayBreakdown.ajc_breakdown.myajc.length }}</p></li>
		  		<li class="large-3"><span class="info label">AccessAtlanta</span><p class="red">{{ displayBreakdown.ajc_breakdown.access.length }}</p></li>
	  		</ul>
	  	</li>
	  	<li class="large-2"><span class="info label">Photo Galleries</span><p class="red">{{ photo_galleries.length }}</p></li>
	  	<li class="large-2"><span class="info label">WordPress VIP</span><p class="red">{{ wp_vip.length }}</p></li>
	  	<li class="large-2"><span class="info label">AP Stories</span><p class="red">{{ ap_stories.length }}</p></li>
	  	<li class="large-2"><span class="info label">Shared Content</span><p class="red">{{sharedCount}}</p></li>
	  	<li class="large-2"><span class="label">ATL Total</span><p class="red">{{displayBreakdown.ajc_stories.length + displayBreakdown.ap_stories.length + displayBreakdown.wp_vip.length}}</p></li>
	  </ul>
	  <!-- Feed view  -->
		<table class="large-12 info-table" id="exportTable">
			<thead>
		  	<th scope="column"></th>
		    <th scope="column">Provider</th>
		    <th scope="column">Published</th>
		    <th scope="column">Headline</th>
		    <th scope="column">Primary Category</th>
		    <th scope="column">Topics</th>
		    <th scope="column">Byline</th>
		    <th scope="column">URL</th>
		  </thead>
		  						<!-- Loading Spinner  -->
			<div cg-busy="{promise:busy, message:'Loading Data, Please Wait'}"></div>
			<tbody>
			  <tr ng-repeat="s in stories track by $index | filter:searchResults" class="page-list-item">
			  	<td>{{ $index + 1 }}</td>
			  	<td>{{ s.provider.name }}</td>
			  	<td>{{ s.pub_date | date:"MM/dd/yyyy @ h:mma" }}</td>
			  	<td>{{ s.headline }}</td>
			  	<td>{{ s.primary_category }}</td>
			  	<td><span class="topics-text" ng-repeat="t in s.topics">{{ t }} <span class="red">+</span> </span></td>
			  	<td>{{ s.by[0].name }}</td>
			  	<td><a href="{{ s.canonical_url }}" target="_blank">Link</a></td>
			  </tr>	
			</tbody>
		</table>
	</div> <!-- end data view  -->

