<div class="data-view">
	<section class="panel">
		<button ng-click="backHome()">Back to Full List</button>
		<h2>{{ detailedItems[0].provider.name }}</h2>
	</section>

	<table class="large-12 info-table" id="exportTable">
	  <tr>
	  	<th scope="column"></th>
	    <th scope="column">Provider</th>
	    <th scope="column">Modified</th>
	    <th scope="column">Headline</th>
	    <th scope="column">Primary Category</th>
	    <th scope="column">Topics</th>
	    <th scope="column">Byline</th>
	    <th scope="column">URL</th>
	  </tr>

	  <tr ng-repeat="s in detailedItems" class="page-list-item">
	  	<td>{{ $index + 1 }}</td>
	  	<td>{{ s.provider.name }}</td>
	  	<td>{{ s.content_modified | date:"MM/dd/yyyy @ h:mma" }}</td>
	  	<td>{{ s.headline }}</td>
	  	<td>{{ s.primary_category }}</td>
	  	<td><span class="topics-text" ng-repeat="t in s.topics">{{ t }}, </span></td>
	  	<td>{{ s.by[0].name }}</td>
	  	<td><a href="{{ s.canonical_url }}" target="_blank">Link</a></td>
	  </tr>	
	</table>
</div>